@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
.container-fluid{
  height: auto;
  width: 100%;
  
}

.header{
  background-image: url(slideshow/lady4.jpg);
  background-size: 50% 300px;
  background-repeat:repeat-x;
  /*background-repeat: no-repeat;*/
  height: 300px;
  color: red;
  text-indent: center;
  padding: 100px;
  margin-left: -10px;

}
.header h1{

  font-style: italic;
  font-family:serif;
}
.header button {
  border: 0;
  background: #FFDBE0;
  transition: all .1s ease-out;
  height: 50px;
  width: 100px;
  float: right;
  margin-right: 20px;
}
.header button:hover{
  background:maroon;
}
.body{

}
.info{
margin: 10px;
color: red;
background-image: url(slideshow/slide2.jpg);

}
.info button{
  background: grey;
  color: black;
  border-style: ridge;
}
.fa {
  cursor: pointer;
  margin-left: 5px;
}

.fade-transition {
  transition: all 0.2s ease-out;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
/*.cart{
  display: none;
}*/

.cart > div {
  z-index: 100;
  background: #fff;
  padding: 20px 30px;
  position: absolute;
  right: 30px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.cart > div div {
  text-align: center;
  color: black;
}
.cart ul, .cart li, .cart p {
  margin-bottom: 0;
}
.cart button {
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}


.shop{
  display: inline-block;

}
img{
  margin: 10px;
  border-style:ridge;
  display: inline-block;
}
.heel1{
  margin: 10px;
  float:left;
  border-style: outset;
}
.heel2{
  margin: 10px;
  display: inline-block;
  border-style: outset;
}
.heel3{
  margin: 10px;
  display:inline-block;
  border-style: outset;
}

.shop i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width : 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50px;
  color: white;
  background-color: blue;
  border:0.5px solid white;
  radius:25px;
  transition: all .2s ease-out;
  }
.shop a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.shop i:hover {
  background:green;
}

.checkout {
  background:pink;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
  /*margin-top: 90px;*/
  padding: 50px 60px;
  color: black;
}
.checkout h3 {
  position: absolute;
  top: -85px;
  left: -30px;
  color: rgba(255, 255, 255, 0.3);
  font-family: sans-serif;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -2px;
}
.checkout span {
  float: right;
}

@media screen and (max-width: 630px) {
  .checkout {
    padding: 30px 40px;
  }
  .checkout h6 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 550px) {
  .shop h3, .checkout h3 {
    font-size: 3.3em;
    top: -70px;
    left: 0px;
  }
}
#yourinfo{
  display: flex;
}

h6{
  color:red;
}
